@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.react-pdf__Page__canvas {
  border-radius : 10px;
}

.speech-bubble {
  position: relative;
  background: #4294da;
  border-radius: 0.4em;
  color: white;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-bottom-color: #4294da;
  border-top: 0;
  margin-left: -12px;
  margin-top: -12px;
}

.share-inside {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  padding: 0.5rem 1rem;
}

.ps-menu-button:hover {
  background-color: none!important;
}

.ps-menu-button a {
  padding: 0px!important;
}

.speech-bubble {
	position: relative;
	background: #44815a;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 0.375em solid transparent;
	border-bottom-color: #44815a;
	border-top: 0;
	margin-left: -0.375em;
	margin-top: -0.375em;
}

.custom-outline {
  color: green;
}

.react-pdf__Outline {
  font-size : 12px
}

.react-pdf__Outline a {
  color: white!important;
  font-size : 15px;
  text-decoration: none;
}

.react-pdf__Outline ul {
  margin-top : 1rem!important;
  margin-bottom : 1rem!important;
}

.menuItemOutline a.ps-menu-button:hover {
  background-color : #35493f!important;
  color: white;
  border-bottom-width: 0px!important;
}

.menuItemOutline a.ps-menu-button {
  padding: 0px!important;
}

.stickyNavbar {
  position: sticky;
  top: 0;
  z-index: 999;
}

.darkerHighlight {
  background: #45815a!important;
  color: white!important;
}